body, p, ol, ul, td {
  font-family: helvetica, verdana, arial, sans-serif;
  font-size:   16px;
  line-height: 18px;
}

body { background-color: #f0f0f0; color: #333; }

pre {
background-color: #eee;
padding: 10px;
font-size: 11px;
white-space: pre-wrap;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

#search-field {
  width: 280px;
  margin: 0 auto;
  margin-top: -40px;
  margin-bottom: 20px;
  input { font-size: 30px; }
}

.hidden {
  display: none;
}

table#route_table {
  border-collapse: collapse;
  clear: both;
  padding: 10px;
  tr:nth-child(2n) {
    background-color: #e0e0e0;
  }
  td { margin: 0; border: 0; padding: 5px 30px; }
}

table#route_table {
.found-routes {
  tr, td { background-color: #666; }
  }
  tbody.search {
    background-color: #d0d0d0;
    tr:nth-child(2n) { background-color: LightYellow; }
    tr:last-child { background-color: #999; color: transparent; }
  }
}